[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jupyter = "*"
lab = "*"
notebook = "*"
python-dotenv = "*"
python-dateutil = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.9"
